  {% extends 'base.html' %}

  {% block container %}
  <main class="container mt-3">
    <h1 class="h1 text-center w-50 mx-auto mt-1 py-5 mb-4"><strong>Все преподаватели</strong></h1>


      <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 m-auto">


        <div class="card mb-4">
          <div class="card-body align-right">

            <p class="lead float-left d-inline-block mt-2 mb-0"><strong>{{ teachers|length() }} преподавателей в базе</strong></p>

            <form action="/all/" class="float-right d-inline-block">
              <div class="form-inline">
                <select class="custom-select my-1 mr-2" name="selected" id="inlineFormCustomSelectPref">
                  <option selected>В случайном порядке</option>
                  <option value="2">Сначала лучшие по рейтингу</option>
                  <option value="3">Сначала дорогие</option>
                  <option value="4">Сначала недорогие</option>
                </select>
                <button type="submit" class="btn btn-primary my-1">Сортировать</button>
              </div>
            <form>

          </div>
        </div>

        {% for teacher in teachers %}
        {% include 'teacher_block.html' %}
        {% endfor %}
      </div>
    </div>

    {% include 'request_banner.html' %}

  </main>
  {% endblock %}