  {% extends 'base.html' %}

  {% block container %}
  <main class="container mt-3">
    <h1 class="h1 text-center w-50 mx-auto mt-1 py-5 mb-4"><strong>🚜<br />Преподаватели <br>  для {{ goals[goal]|replace('Для ', '') }}</strong></h1>

      <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 m-auto">
        {% for teacher in teachers %}
        {% if goal in teacher.goals %}
        {% include 'teacher_block.html' %}
        {% endif %}
        {% endfor %}

      </div>
    </div>

  {% include 'request_banner.html' %}

  </main>
  {% endblock %}