  {% extends 'base.html' %}

  {% block container %}
  <main class="container mt-5">
    <div class="col-12 col-sm-10 col-lg-6 offset-lg-3 offset-sm-1">
      <form action="/request/" method="post" class="card mb-5">
        <div class="card-body text-center pt-5">
          <h1 class="h3 card-title mt-4 mb-2">Подбор преподавателя</h1>
          <p class="px-5">Напишите, чего вам нужно и&nbsp;мы&nbsp;подберем отличных&nbsp;ребят</p>
        </div>
        <hr>
        <div class="card-body mx-3">
          <div class="row">
            <div class="col">
              <p>Какая цель занятий?</p>
              {% for goal in goals %}
              <div class="form-check ">
                {% if goal.name == first_goal  %}
                {% set indcheck = 'checked' %}
                {% else %}
                {% set indcheck = '' %}
                {% endif %}
                <input type="radio" class="form-check-input" name="goal" value={{ goal.name }} id="goal1" {{ indcheck }}>
                <label class="form-check-label" for="goal1">
                  {{ goal.value }}
                </label> 
              </div>
              {% endfor %}

            </div>
            <div class="col">
              <p>Сколько времени есть?</p>
              <div class="form-check">
                <input type="radio" class="form-check-input" name="time" value="1-2" id="time1">
                <label class="form-check-label" for="time1">
                  1-2 часа в&nbsp;неделю
                </label> 
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" name="time" value="3-5" id="time2">
                <label class="form-check-label" for="time2">
                  3-5 часов в&nbsp;неделю
                </label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" name="time" value="5-7" id="time3" checked>
                <label class="form-check-label" for="time3">
                  5-7 часов в&nbsp;неделю
                </label> 
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" name="time" value="7-10" id="time4">
                <label class="form-check-label" for="time4">
                  7-10 часов в&nbsp;неделю
                </label>
              </div>
            </div>
          </div>
        </div>
        <hr>
          {% for field in form.errors %}
            {% for error in form.errors[field] %}
            <div class="card-body mx-3" style="color:red;">
              {{error}}
            </div>
            {% endfor %}
          {% endfor %}
        <div class="card-body mx-3">
          {{ form.hidden_tag() }}

          {{ form.name.label(class="mb-1 mt-2") }}
          {{ form.name(class="form-control") }}

          {{ form.phone.label(class="mb-1 mt-2") }}
          {{ form.phone(class="form-control") }}

          {{ form.submit(class="btn btn-primary mt-4 mb-2") }}

        </div>
      </form>
    </div>
  </main>
  {% endblock %}